obj/project.nuget.cache
obj/BlumeAPI.csproj.nuget.dgspec.json
obj/BlumeAPI.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/Debug/net6.0/BlumeAPI.assets.cache
obj/Debug/net6.0/BlumeAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/BlumeAPI.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/BlumeAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/BlumeAPI.dll
obj/Debug/net6.0/BlumeAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/BlumeAPI.genruntimeconfig.cache
obj/Debug/net6.0/BlumeAPI.pdb
obj/Debug/net6.0/ref/BlumeAPI.dll
obj/Debug/net6.0/refint/BlumeAPI.dll
